/*use placeholder images and names
WHEN I load their portfolio
THEN I am presented with: 
    -developer's name
    -a recent photo
    -links to sections about them
    -their work
    -and how to contact them
WHEN I click one of the links in the navigation
THEN the UI scrolls to the corresponding section

WHEN I click on the link to the section about their work
THEN the UI scrolls to a section with titled images of the developer's applications

WHEN I am presented with the developer's first application
THEN that application's image should be larger in size than the others

WHEN I click on the images of the applications
THEN I am taken to that deployed application

WHEN I resize the page or view the site on various screens and devices
THEN I am presented with a responsive layout that adapts to my viewport

I should be utilizing:
flexbox, media queries, and CSS variables.*/

:root {
    --teal: teal;
}

* {
    margin: 0;
    background: lightblue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    font-size: 16px;
}

h1, h2, h3, header {
    background-color: var(--teal);
}

h1 {
    margin-left: 60px;
}

h2 {
    margin-right: 60px;
}

h3 {
    padding: 30px;
}

header {
    display: flex;
    position: relative;
    box-sizing: border-box;
    justify-content: space-between;
    flex-direction: row;
    padding: 50px;
}

figure img {
    border-radius: 10%;
    border-style: solid;
    border-width: 4px;
    border-color: rgb(2, 65, 65);
}

ul li {
        list-style-type: none;
}

/* .header {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    background-color: var(--teal);
} */

.portrait {
    position: relative;
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
}